.background{
background-image: url(../images/back.png);
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
a{
    font-weight: bold;
}

.brand-logo{
    font-size: 100px;
}

.card-image{
    margin-bottom: 20px;
    
   
}

.img{
    
    height: 300px;
}
/* .card{
    background-image: url(../images/light.jpg);
    background-size:cover;
background-position:center;
background-repeat:no-repeat;
} */
.card-content{
    background-color: skyblue;
    color: white;
    font-size: 20px;
    
}

.profile-imgs{
  
    height: 300px;
    width: 650px;
    padding-left: 20px;
    
}

.slider .slides li {
    height: 300px;
    
}
.card .card-image .card-title{
    font-weight: 600;
}

.card .card-image img {
    height: 300px;
}
.column{
    background-color: skyblue;
    border-radius:40px;
}